.list-item-box {
  background: #fff;
  width: 18%;
  height: 250px;
  margin-right: 1%;
  margin-bottom: 10px;
  padding: 10px 0;
}
@media (max-width: 1400px) {
  .search-list {
    width: 100%;
  }
  .list-item-box {
    width: 48%;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .list-item-box {
    width: 100%;
    height: 400px;
  }
}
.list-item-box .list-item-title {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1%;
  height: 10%;
}
.list-item-box .list-item-subTitle {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1%;
  height: 10%;
  color: #bebebe;
}
.list-item-box .list-item-chart {
  width: 100%;
  height: 71%;
}
.list-item-box .list-item-bottom {
  display: flex;
  justify-content: center;
  color: #bebebe;
}

.list-item-box-loading {
  background: transparent;
  display: flex;
  flex-direction: column;
}
.list-item-box-loading .list-item-title {
  width: 60%;
  height: 10px;
  background: #e0ddd4;
  margin: 5px 0;
}
.list-item-box-loading .list-item-subTitle {
  width: 70%;
  height: 10px;
  background: #e0ddd4;
  margin: 5px 0;
}
.list-item-box-loading .list-item-chart {
  width: 100%;
  flex: 1;
  background: #e0ddd4;
}