.search-page-container {
  background: #fcf7ec;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.search-page-title {
  width: 100vw;
  padding: 10px;
  border-bottom: 1px solid #f1eee6;
  font-size: 20px;
  cursor: pointer;
}
.search-page-content {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.search-title {
  font-size: 30px;
  margin: 60px 0;
  font-weight: 500;
}
.search-input {
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 60%;
}
.search-input .MuiOutlinedInput-root {
  border-color: #e0ded3;
  flex: 1;
}
.search-input .MuiOutlinedInput-root .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #e0ded3;
}
.search-input .MuiButton-outlined {
  margin-left: 10px;
  color: #8b8887;
  border-color: #e0ded3;
}
